/* ############################## */
/* ######### Overrides ########## */
/* ############################## */
html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
  }
  
/* ############################## */
/* ############ Nav ############# */
/* ############################## */
.siteHeader {
    background-color: #20c063;
    display: flex;
    color: white;
}

.siteHeader ul li{
    padding-left: 15px;
    list-style: none;
}

.navLeft ul {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
  }

  .navRight ul {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
  }

  .trulia-logo {
      max-width: 100px;
      height: auto;
  }
  
/* ############################## */
/* ######### Breadcrumbs ######## */
/* ############################## */

/* ############################## */
/* ######## Trulia Grid ######### */
/* ############################## */

/* ############################## */
/* ######### Pagination ######### */
/* ############################## */

/* ############################## */
/* ######### Insights ########### */
/* ############################## */

/* ############################## */
/* ########## Footer ############ */
/* ############################## */