/* 
Grey: #cfcfcf
Blue: #45008a
Purple: #806c94
Orange: #eb9c00
Black: #000000
White: #ffffff
*/

/* Text styles */
h1 {
    font-size: 2em;
}

h2 {
  font-size: 1em;
}
/* Body */
body {
    background-image: linear-gradient(to right, #2b2b2b, #878787);
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    height: 100vh;
    margin: 100px 50px 0px 50px;
  }

  /* Main */
  main {
    padding-bottom: 50px;;
  }

  .row {
  display: flex;
  align-items: center;
}

.col-lg-5,
.col-lg-7 {
  padding: 10px;
}

/* Dropdown */
#mood-type {
  display: flex;
  opacity: 75%;
  color: rgb(65, 65, 65);
  font-size: 1em;
  background: white;
  border: 1px solid #111;
  padding: 0px 15px;
  text-align: left;
  width: 100%;
  border-radius: 5px;
  font-family: helvetica, arial, sans-serif;
  height: 72px;
  line-height: 74px;
  vertical-align: middle;
  box-shadow: #111 0 0 20px;
}

  /* When user selects mood "GYM": 
  Page background should be orange. Text should be white.
  Gym recommendation should be visible, while all others aren't. */
.gym-off {
  display: none;
}
.gym-on {
  background-image: #eb9c00;
  color: white;
}
  /* When user selects mood "SLEEP": 
  Page background should be blue. Text should be white.
  Sleep recommendation should be visible, while all others aren't. */
  .sleep-off {
    background-image: #45008a;
    color: white;
    display: none;
  }

  /* When user selects mood "HEART": 
  Page background should be purple. Text should be white.
  Heartache recommendation should be visible, while all others aren't. */
  .heart-off {
    background-image: #806c94;
    color: white;
    display: none;
  }